/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header{
    font-family: Arial, Helvetica, sans-serif;
}

.blur-background{
    position: relative;
    background-color:var(--background-color);
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
  

.letters {
    color: rgb(150, 150, 150);
    font-size: 18px;
    z-index: -1;
    position: fixed;
    transform: translate(-50%, -50%);
    user-select: none;
  }

/* tema app */

.light{
    background-color: rgb(214, 214, 214);
    color: black;

    --user-input-background-color: rgb(43, 43, 43);
    --buttons-background-color: rgb(43, 43, 43);
    --shared-title-color: #00CC99;
    --navbar-color: #00CC99;
}

.dark{
    background-color: rgb(43, 43, 43);
    color: white;

    --user-input-background-color: rgb(20, 20, 20);
    --buttons-background-color: rgb(20, 20, 20);
    --shared-title-color: #00CC99;
    --navbar-color: #006666;
}



/* navbar */

#NavBar{
    background-color: var(--navbar-color);
    height: 6vh;
    width: 100%;
    z-index: 10;
}

#navbar-id{
    background-color: var(--navbar-color);
    height: fit-content;
    width: 100%;
    z-index: 10;
}

#namep{
    font-size: 165%;
}

#navbarSupportedContent{
    font-size: 120%;
}

.navbar-nav{
    gap: 20%;
}



/* settings */

.settings-container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 2%;
    overflow: visible;
}

#settings-window{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 100%;
    right: 100%;
}
.window-visibility{
    display: none;
}

.btn.dropdown-toggle::after {
    display: none;      /*elimina la freccetta del dropdown*/
}

#settings-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;
}
.settings-img{
    width: 100%;
    height: 100%;
}

.dropdown-menu{
    font-size: 100%;
}
.dropdown-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}


/* immagine settings */

.theme-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
}
#sun-img{
    width: 20%;
    height: 20%;
}   
#moon-img{
    width: 20%;
    height: 20%;
}

