// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  }
.grid-container {
    display: grid;
    grid-template-columns: 25% 74%;
    grid-gap: 10px;
    padding: 10px;
    height: 94vh;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
  }
  .stileinfo{
    word-wrap: break-word;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    min-height: 19.4vh;
    max-height: 19.4vh;

  
  }
  .stileinfoattiva{
    word-wrap: break-word;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--shared-title-color);
    text-decoration: underline;
    min-height: 19.4vh;
    max-height: 19.4vh;
  }
  .stileinfo:hover{
    color: var(--shared-title-color);
    cursor: pointer;
  }

  #stileheader{
    background-color: var(--buttons-background-color);
    color:greenyellow;
    font-size: 7vh;
    min-height: 14vh;
    max-height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow: hidden;
  }
  #content{
    overflow-y: scroll;
    background-color: gray;
    font-size: 30px;
    min-height: 70vh;
    max-height: 70vh;
  }
  .header{
    grid-area: 1 / 1 / span 1 / span 2;
  }
  
  .main-content {
    grid-area: 2 / 2 / span 3;
  }

  .linea{
    color: black;
    align-items: center;
    justify-content: center;
    width: 90%;
  }