// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root{
    --ui-min-width: 1000px;
    --standard-border-radius: 20px;
    --user-input-text-color: white;
    --user-font-size: 30px;
}



/* chat */
.chatflow_container{
    background-color: gray;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

    z-index: 1; /*piano base*/

    /*responsibilità*/
    @media (max-width: 1200px) {    /*font size da un minimo di 10px fino ad un massimo di calc(10px+1vm) con laghezza massima 1200px*/
        font-size: calc(10px + 1vw);
    }
    @media (min-width: 1201px) {    /*font size da 22px per laghezze maggiori di 1200px*/
        font-size: 22px; 
    }
    width: 50vw; /* Adatta la larghezza alla larghezza del viewport */
    min-width: 300px; /* Imposta una larghezza minima per evitare che il chatflow diventi troppo piccolo */
}
.chatflow{
    overflow-y: auto;
    padding: 0.8%;
}

.top-separator{
    margin: 80px 0px 0px 0px
}

.chatbox{
    background-color: red;
    display: flex;
}
.incoming{
    justify-content: start;
}
.outgoing{
    justify-content: end;
}

.chatbox p{             /* chatbox vere e proprie (contenitori delle stringhe) */
    color: white;
    padding: 12px 16px;

    font-size: 110%;
}
.incoming p{
    background-color: darkslategrey;
    border-radius: 20px 20px 20px 0;
}
.outgoing p{
    background-color: goldenrod;
    border-radius: 20px 20px 0 20px;
}






/* user area (text area + bottoni) */

.user-area{
    //background-color: violet;  //da eliminare

    display: flex;
    flex-direction: row;
    flex-grow: 1;

    //justify-content: center;
    align-items: center;

    position: fixed;
    //left: 50%;
    //transform: translateX(-50%);
    margin: 0px;
    
    height: 10%;
    width: 100%;
    min-width: var(--ui-min-width);
    bottom: 5%;

    z-index: 999; /*sempre in primo piano*/

    /*responsibilità*/
    @media (max-width: 1200px) {    /*font size da un minimo di 10px fino ad un massimo di calc(10px+1vm) con laghezza massima 1200px*/
        font-size: calc(10px + 1vw);
    }
    @media (min-width: 1201px) {    /*font size da 22px per laghezze maggiori di 1200px*/
        font-size: 22px; 
    }
    
    //width: 50vw; /* Adatta la larghezza alla larghezza del viewport */
    //min-width: 300px; /* Imposta una larghezza minima per evitare che il chatflow diventi troppo piccolo */

    padding-top: 3px;  //da eliminare
    padding-bottom: 3px;
    
    padding-left: 3px;
    padding-right: 3px;
    
    //gap: 10px;
}

.user-input-container{
    //background-color: brown;
    position: relative;
    left: 30%;

    width: 40%;
    //justify-content: center;
    align-items: center;
}

#user_input{
    background-color: var(--user-input-background-color);
    backdrop-filter: blur(10%);
    color: var(--user-input-text-color);
    font-size: var(--user-font-size);
    
    //margin: 5px 20% 5px 20%;
    //margin: 0px;
    width: 100%;
    padding: 10px;
    
    border-radius: var(--standard-border-radius);
    /* height: 80px; */
    flex-grow: 1;
    resize: none;

    border: 4px solid orangered;
}
#user-input:focus{
    border: 0px;
    outline: none;
}
#user-input::placeholder{
    color: rgb(170, 170, 170);
}

.commands-grid{
    //background-color: aliceblue;
    position: relative;
    left: 31%;

    height: 100%;
    width: 12%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.button{
    background-color: var(--buttons-background-color);

    height: 60%;
    //backdrop-filter: blur(10%);
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-size: 32px;
    //color: white;
    border: 4px solid orangered;
    border-radius: var(--standard-border-radius);

    padding: 3px;
}

.input-button{
    aspect-ratio: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    
}

.send-img{
    width: 70%;
    height: 100%;
}
