// Place all the styles related to the profilo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.z-index-1{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  }


  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    gap: 5%;

    width: fit-content;
    height: fit-content;

    padding-bottom: 10%;
}

.grid-item {
    display: flex;
    align-items: center;
}

#img-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 10%;
}

.etichetta {
    font-family: 'Open Sans', sans-serif;
}

.user-input{
    font-size: 120%;
    padding: 5px;
    border-radius: var(--borderRadius);
    flex-grow: 1;
    width: fit-content;

    border: 4px solid hsl(calc(var(--colore) + 30), 53%, 41%);
}

.settore{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1%;

    transition: opacity 0.6s ease;
}
.settore:hover{
    transition: 0.3s ease;
    /*transform: scale(1.1); DA PROBLEMI CON IMMAGINI PROFILO*/
}


#immagineProfilo {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 90%;
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 1 / 1;
}

.popup{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30vw;
    width: 40vw;
    margin: auto;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    transform: scale(0);
    text-align: center;
    padding: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    min-height: 200px;
    min-width: 300px;
    max-height: 500px;
    max-width: 700px;
    
}


#immaginiProfilo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

#immaginiProfilo::-webkit-scrollbar {
    display: none;
  }

.open-popup{
    transform: scale(1);
}

.popup-img{
    margin: 0 5px;
    width: 80px;
    height: 80px;
}

@media (min-width: 1024px) {
    .etichetta {
        font-size: large;
    }
    h2 {
        font-size: xx-large;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .etichetta {
        font-size: medium;
    }
    h2 {
        font-size: x-large;
    }
}
@media (max-width: 767px) {
    .etichetta {
        font-size: small;
    }
    h2 {
        font-size: large;
    }
    main{
        grid-template-columns: 1fr;
    }
    #container_vuoto{
        display: none;
    }
}

.user-informations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.avatar{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;

    min-height: 10px;
    min-width: 10px;
    max-height: 100px;
    max-width: 100px;
}

.username{
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    @media (max-width: 600px) {
        font-size: 30px;
    }

    @media (min-width: 1200px) {
        font-size: 60px;
    }
}
  
  