
<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header{
    grid-area: 1 / 1 / span 1 / span 2;
}

.main-content {
  grid-area: 2 / 2 / span 4;
}

</style>
</head>
<body>

<div class="grid-container">
  <div class="header">titolo generale</div>
  <div class="main-content" id="content">Qui veranno mostrati i contenuti </div>
  <div class="item3">
    <span id="info" onclick=info()> Cosa è rob-erto </span>
  </div>
  <div class="item4">
    <span id="funzioni" onclick=funzioni()>funzionalità</span>
  </div>
  <div class="item5">
    <span id="creators" onclick=creators()>chi ha creato Rob-erto
  </div>
  <div class="item6">div da settare</div>
</div>



</body>
<%= javascript_include_tag "application.js" %>

</html>