<h1>Homepage</h1>

<div class="user-area">
    <div class="input-grid">
        <textarea placeholder="Benvenuto! Chiedimi quello che vuoi" id="user-input"></textarea>
        
        <div class="commands-grid">
            <button type="button" class="ui-button input-button" id="send"></button>
            <button type="button" class="ui-button input-button" id="newchat"></button>
            <button type="button" class="ui-button input-button" id="more"></button>
        </div>
    </div>
</div>