<h1>Homepage</h1>

<%= @response %>

<div class="chatflow">
    <div class="top-separator"></div>
</div>

<div class="user-area">
        <div class="user-input-container">
            <%= text_area_tag '', "", id: "user-input" %>
            <textarea placeholder="Ciao! Chiedimi quello che vuoi" id="user-input"></textarea>
        </div>
        
        <div class="commands-grid">

            <%= link_to image_tag('send.svg', alt: "", class: "send-img"), root_path(send: :'ciao'), class: "button input-button" %>
        
            <button type="button" class="button input-button" id="newchat"></button>
        
            <button type="button" class="button input-button" id="more"></button>

        </div>

        
</div>


<%= javascript_include_tag "home.js" %>