<div class="grid-container">
  <div class="header" id="stileheader"><b>Pagina di informazioni su Rob-erto</b></div>
  <div class="main-content" id="content"><div class="d-flex justify-content-center">Qui veranno mostrati i contenuti</div> </div>
  <div class="stileinfo" id="info">
    <span id="info" onclick=info()> Cosa è Rob-erto? </span>
  </div>
  <div class="stileinfo" id="funzione">
    <span id="funzioni" onclick=funzioni()> Funzionalità del sito</span>
  </div>
  <div class="stileinfo" id="creators">
    <span id="creators" onclick=creatori()> Creatori di Rob-erto </span>
  </div>
</div>

<%= javascript_include_tag "help.js" %>