<div class="grid-container">
  <div class="header">titolo generale</div>
  <div class="main-content" id="content">Qui veranno mostrati i contenuti </div>
  <div class="item3" id="test">
    <span id="info" onclick=info()> Cosa è rob-erto </span>
  </div>
  <div class="item4" id="test">
    <span id="funzioni" onclick=funzioni()>funzionalità</span>
  </div>
  <div class="item5" id="test">
    <span id="creators" onclick=creators()>chi ha creato Rob-erto
  </div>
  <div class="item6" id="test">div da settare</div>
</div>

<%= javascript_include_tag "help.js" %>