<div class="grid-container">
  <div class="header" id="stileheader"><b>Pagina di informazioni su Rob-erto</b></div>
  <div class="main-content" id="content" style="word-wrap: break-word;">Qui veranno mostrati i contenuti </div>
  <div class="item3" id="stileinfo">
    <span id="info" onclick=info()> 1) Cosa è Rob-erto? </span>
  </div>
  <div class="item4" id="stileinfo">
    <span id="funzioni" onclick=funzioni()> 2) Funzionalità di Rob-erto</span>
  </div>
  <div class="item5" id="stileinfo">
    <span id="creators" onclick=creators()> 3) Creatori di Rob-erto </span>
  </div>
  <div class="item6" id="stileinfo">div da settare</div>
</div>

<%= javascript_include_tag "help.js" %>